# Direct runtime dependencies (from setup.py section "install_requires")
PyYAML==6.0

# Test dependencies (from setup.py section "tests_require" or "extras_require['tests']")
freezegun==1.2.2
parameterized==0.9.0

# CI dependencies (from setup.py section "extras_require['ci']")
coverage==7.2.3
pytest==7.3.1

# Combined indirect dependencies
attrs==23.1.0
exceptiongroup==1.1.1
iniconfig==2.0.0
packaging==23.1
pluggy==1.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
tomli==2.0.1
