# Direct runtime dependencies (from setup.py section "install_requires")
PyYAML==6.0

# Test dependencies (from setup.py section "tests_require" or "extras_require['tests']")
freezegun==1.1.0
parameterized==0.8.1

# CI dependencies (from setup.py section "extras_require['ci']")
coverage==6.2
pytest==6.2.5

# Combined indirect dependencies
attrs==21.3.0
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
python-dateutil==2.8.2
six==1.16.0
toml==0.10.2
