# Copyright (C) 2021 Sebastian Pipping <sebastian@pipping.org>
# Licensed under GNU Affero GPL version 3 or later

name: Run Python test suite

on:
  pull_request:
  push:
  schedule:
    - cron: '0 3 * * 5'  # Every Friday at 3am

jobs:
  build_and_test:
    strategy:
      matrix:
        python-version: ["3.10", 3.14]  # oldest and most recent version supported
    name: Run Python test suite
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |-
          set -x
          python3 -m venv venv
          source venv/bin/activate
          pip3 install \
            --disable-pip-version-check \
            --ignore-installed \
            pip setuptools wheel
          pip3 install -r requirements.txt
          pip3 check
          diff -u0 \
            <(sed -e '/^#/d' -e '/^$/d' requirements.txt | sort -f) \
            <(pip3 freeze | sed -e '/^setuptools==/d' -e '/^wheel==/d' | sort -f)

      - name: Run Python test suite
        run: |-
          set -x
          source venv/bin/activate
          python3 --version
          coverage run -m pytest binary_gentoo
          coverage report
